:root {
  --secondary-color: #019bad;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 150px 20px;
}

#brand {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
}
h2 {
  font-size: 24px;
}
h2,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
p {
  margin: 10px 30px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.outside-page-links a {
  text-decoration: none;
  color: black;
}

.outside-page-links a :hover {
  color: var(--secondary-color);
}

.outside-page-links a :visited {
  color: 000 000 000 0.7;
}
