:root {
  --primary-color: rgba(1, 156, 173, 0.1);
  --secondary-color: #019cad;
  --box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}

body {
  margin: 120px 20px 20px 20px;
}

#brand {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  text-align: center;
}
h2 {
  font-size: 24px;
}
h2,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
p {
  margin: 10px 30px;
}

#weather-app {
  max-width: 250px;
  display: flex;
  justify-content: center;
}

#weather-img-wrap {
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  display: flex;
  padding: 35px 7px 35px 7px;
  max-width: 450px;
}

#project-images {
  max-width: 250px;
  display: flex;
  justify-content: center;
}

.img-wrap {
  background-color: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  display: flex;
  padding: 20px 8px 20px 8px;
  max-width: 450px;
}

#app-descriptions {
  display: flex;
  justify-content: center;
  margin-right: -8px;
}

#app-name {
  margin-right: -35px;
}
.hi-heading {
  font-size: 18px;
  margin-bottom: 0;
}

#headshot {
  max-width: 300px;
  box-shadow: var(--box-shadow);
}

.about-paragraph {
  padding: 0 20px;
  margin-top: 0;
}

#project-launch-button {
  padding: 15px 20px;
  background: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

#right-launch-button {
  padding: 15px 20px;
  background: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
  margin-right: -40px;
}

#right-launch-button a :hover {
  border: 1px solid var(--secondary-color);
  background: black;
  color: var(--secondary-color);
}

footer {
  display: flex;
  justify-content: center;
  margin: 50px 20px 10px 20px;
}

.outside-page-links a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.outside-page-links a :hover {
  color: var(--secondary-color);
}

.outside-page-links a :visited {
  color: 000 000 000 0.7;
}
